<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gahui.ghmall.data.mapper.GhGoodsMapper">
  <resultMap id="BaseResultMap" type="com.gahui.ghmall.data.entity.GhGoods">
    <id column="goods_id" jdbcType="INTEGER" property="goodsId" />
    <result column="goods_code" jdbcType="VARCHAR" property="goodsCode" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="goods_icon_url" jdbcType="VARCHAR" property="goodsIconUrl" />
    <result column="goods_brief" jdbcType="VARCHAR" property="goodsBrief" />
    <result column="goods_sell_num" jdbcType="INTEGER" property="goodsSellNum" />
    <result column="goods_detail" jdbcType="VARCHAR" property="goodsDetail" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    goods_id, goods_code, category_id, goods_icon_url, goods_brief, goods_sell_num, goods_detail, 
    status, create_time, update_time, remark
  </sql>
  <select id="selectByExample" parameterType="com.gahui.ghmall.data.entity.GhGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from gh_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gh_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gh_goods
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.gahui.ghmall.data.entity.GhGoodsExample">
    delete from gh_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.gahui.ghmall.data.entity.GhGoods">
    insert into gh_goods (goods_id, goods_code, category_id, 
      goods_icon_url, goods_brief, goods_sell_num, 
      goods_detail, status, create_time, 
      update_time, remark)
    values (#{goodsId,jdbcType=INTEGER}, #{goodsCode,jdbcType=VARCHAR}, #{categoryId,jdbcType=INTEGER}, 
      #{goodsIconUrl,jdbcType=VARCHAR}, #{goodsBrief,jdbcType=VARCHAR}, #{goodsSellNum,jdbcType=INTEGER}, 
      #{goodsDetail,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.gahui.ghmall.data.entity.GhGoods">
    insert into gh_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        goods_id,
      </if>
      <if test="goodsCode != null">
        goods_code,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="goodsIconUrl != null">
        goods_icon_url,
      </if>
      <if test="goodsBrief != null">
        goods_brief,
      </if>
      <if test="goodsSellNum != null">
        goods_sell_num,
      </if>
      <if test="goodsDetail != null">
        goods_detail,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="goodsId != null">
        #{goodsId,jdbcType=INTEGER},
      </if>
      <if test="goodsCode != null">
        #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsIconUrl != null">
        #{goodsIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrief != null">
        #{goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellNum != null">
        #{goodsSellNum,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null">
        #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.gahui.ghmall.data.entity.GhGoodsExample" resultType="java.lang.Long">
    select count(*) from gh_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gh_goods
    <set>
      <if test="record.goodsId != null">
        goods_id = #{record.goodsId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsCode != null">
        goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.goodsIconUrl != null">
        goods_icon_url = #{record.goodsIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsBrief != null">
        goods_brief = #{record.goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSellNum != null">
        goods_sell_num = #{record.goodsSellNum,jdbcType=INTEGER},
      </if>
      <if test="record.goodsDetail != null">
        goods_detail = #{record.goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null">
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gh_goods
    set goods_id = #{record.goodsId,jdbcType=INTEGER},
      goods_code = #{record.goodsCode,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      goods_icon_url = #{record.goodsIconUrl,jdbcType=VARCHAR},
      goods_brief = #{record.goodsBrief,jdbcType=VARCHAR},
      goods_sell_num = #{record.goodsSellNum,jdbcType=INTEGER},
      goods_detail = #{record.goodsDetail,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.gahui.ghmall.data.entity.GhGoods">
    update gh_goods
    <set>
      <if test="goodsCode != null">
        goods_code = #{goodsCode,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="goodsIconUrl != null">
        goods_icon_url = #{goodsIconUrl,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrief != null">
        goods_brief = #{goodsBrief,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellNum != null">
        goods_sell_num = #{goodsSellNum,jdbcType=INTEGER},
      </if>
      <if test="goodsDetail != null">
        goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gahui.ghmall.data.entity.GhGoods">
    update gh_goods
    set goods_code = #{goodsCode,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      goods_icon_url = #{goodsIconUrl,jdbcType=VARCHAR},
      goods_brief = #{goodsBrief,jdbcType=VARCHAR},
      goods_sell_num = #{goodsSellNum,jdbcType=INTEGER},
      goods_detail = #{goodsDetail,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where goods_id = #{goodsId,jdbcType=INTEGER}
  </update>
</mapper>